In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
housing = pd.read_csv('train.csv')
housing.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000

In [44]:
housing .shape

(1460, 81)

In [8]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [16]:
housing.dtypes.value_counts()

object     43
int64      35
float64     3
dtype: int64

## Data Cleaning of training dataset

In [58]:
housing.index.is_unique

True

In [154]:
null_counts = housing.isnull().sum()
data_types = housing.dtypes
result = pd.concat([null_counts, data_types], axis=1, keys=['Null Count', 'Data Type'])
result_sorted = result.sort_values(by='Null Count', ascending=False).head(15)
print(result_sorted)

              Null Count Data Type
PoolQC              1453    object
MiscFeature         1406    object
Alley               1369    object
Fence               1179    object
FireplaceQu          690    object
LotFrontage          259   float64
GarageYrBlt           81   float64
GarageCond            81    object
GarageType            81    object
GarageFinish          81    object
GarageQual            81    object
BsmtFinType2          38    object
BsmtExposure          38    object
BsmtQual              37    object
BsmtCond              37    object

In [155]:
housing['LotFrontage'].describe()

count    1201.000000
mean       70.049958
std        24.284752
min        21.000000
25%        59.000000
50%        69.000000
75%        80.000000
max       313.000000
Name: LotFrontage, dtype: float64

In [156]:
median = housing['LotFrontage'].median()
median

69.0

In [157]:
housing['LotFrontage'].fillna(median, inplace = True)

In [158]:
housing['LotFrontage'].isnull().sum()

0

In [159]:
housing['Alley'].describe()

count       91
unique       2
top       Grvl
freq        50
Name: Alley, dtype: object

In [161]:
housing = housing.drop('Alley', axis=1)

In [162]:
housing.shape

(1460, 80)

In [163]:
null_counts = housing.isnull().sum()
data_types = housing.dtypes
result = pd.concat([null_counts, data_types], axis=1, keys=['Null Count', 'Data Type'])
result_sorted = result.sort_values(by='Null Count', ascending=False).head(10)
print(result_sorted)

              Null Count Data Type
PoolQC              1453    object
MiscFeature         1406    object
Fence               1179    object
FireplaceQu          690    object
GarageType            81    object
GarageFinish          81    object
GarageQual            81    object
GarageCond            81    object
GarageYrBlt           81   float64
BsmtFinType2          38    object

In [164]:
housing = housing.drop('PoolQC', axis=1)

In [165]:
housing = housing.drop('MiscFeature', axis=1)

In [166]:
housing = housing.drop('Fence', axis=1)

In [169]:
housing = housing.drop('FireplaceQu', axis=1)

In [170]:
housing.shape

(1460, 76)

In [171]:
null_counts = housing.isnull().sum()
data_types = housing.dtypes
result = pd.concat([null_counts, data_types], axis=1, keys=['Null Count', 'Data Type'])
result_sorted = result.sort_values(by='Null Count', ascending=False).head(10)
print(result_sorted)

              Null Count Data Type
GarageType            81    object
GarageYrBlt           81   float64
GarageFinish          81    object
GarageQual            81    object
GarageCond            81    object
BsmtExposure          38    object
BsmtFinType2          38    object
BsmtQual              37    object
BsmtCond              37    object
BsmtFinType1          37    object

In [172]:
median = housing['GarageYrBlt'].median()
median

1980.0

In [173]:
housing["GarageYrBlt"].fillna(median, inplace = True)

In [174]:
null_counts = housing.isnull().sum()
data_types = housing.dtypes
result = pd.concat([null_counts, data_types], axis=1, keys=['Null Count', 'Data Type'])
result_sorted = result.sort_values(by='Null Count', ascending=False).head(10)
print(result_sorted)

              Null Count Data Type
GarageType            81    object
GarageFinish          81    object
GarageQual            81    object
GarageCond            81    object
BsmtExposure          38    object
BsmtFinType2          38    object
BsmtFinType1          37    object
BsmtQual              37    object
BsmtCond              37    object
MasVnrArea             8   float64

In [175]:
median = housing["MasVnrArea"].median()
housing["MasVnrArea"].fillna(median, inplace = True)
median

0.0

In [176]:
null_counts = housing.isnull().sum()
data_types = housing.dtypes
result = pd.concat([null_counts, data_types], axis=1, keys=['Null Count', 'Data Type'])
result_sorted = result.sort_values(by='Null Count', ascending=False).head(15)
print(result_sorted)

              Null Count Data Type
GarageType            81    object
GarageFinish          81    object
GarageQual            81    object
GarageCond            81    object
BsmtExposure          38    object
BsmtFinType2          38    object
BsmtFinType1          37    object
BsmtQual              37    object
BsmtCond              37    object
MasVnrType             8    object
Electrical             1    object
FullBath               0     int64
BsmtHalfBath           0     int64
TotRmsAbvGrd           0     int64
BsmtFullBath           0     int64

In [177]:
housing = housing.dropna()

In [178]:
housing .shape

(1338, 76)

In [179]:
null_counts = housing.isnull().sum()
data_types = housing.dtypes
result = pd.concat([null_counts, data_types], axis=1, keys=['Null Count', 'Data Type'])
result_sorted = result.sort_values(by='Null Count', ascending=False).head(15)
print(result_sorted)

              Null Count Data Type
Id                     0     int64
FullBath               0     int64
Fireplaces             0     int64
Functional             0    object
TotRmsAbvGrd           0     int64
KitchenQual            0    object
KitchenAbvGr           0     int64
BedroomAbvGr           0     int64
HalfBath               0     int64
BsmtHalfBath           0     int64
MSSubClass             0     int64
BsmtFullBath           0     int64
GrLivArea              0     int64
LowQualFinSF           0     int64
2ndFlrSF               0     int64

In [193]:
X_train = housing.drop('SalePrice', axis = 1 )

In [194]:
y_train = housing['SalePrice']

In [195]:
X_train.shape

(1338, 75)

In [196]:
y_train.shape

(1338,)

## Data Cleaning of test dataset

In [3]:
housing1 = pd.read_csv('test.csv')
housing1

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [5]:
housing.shape

(1460, 81)

In [6]:
housing1.shape

(1459, 80)

In [10]:
data1 = set(housing.columns)
data2 = set(housing1.columns)
missing = data1-data2
missing

{'SalePrice'}

In [12]:
housing2= pd.concat([housing, housing1])

In [13]:
housing2.shape

(2919, 81)

In [15]:
housing2['SalePrice'].tail(10)

1449   NaN
1450   NaN
1451   NaN
1452   NaN
1453   NaN
1454   NaN
1455   NaN
1456   NaN
1457   NaN
1458   NaN
Name: SalePrice, dtype: float64

In [2]:
housing1.isnull().sum()

NameError: name 'housing1' is not defined

In [5]:
df1=pd.read_csv('test.csv')
df2 = pd.read_csv('test1.csv')
merged = pd.merge(df1, df2, how='left')

In [7]:
merged.shape

(1459, 81)

In [8]:
df3= pd.read_csv('train.csv')

In [9]:
df3.shape

(1460, 81)